:root {
    --altBorderWidth: 2px;
    --altGap: 5px;
    --altPadding: 5px;
    --altRed: rgb(255, 0, 85);
    --altSmallPadding: 2px;
}

@font-face {
    font-family: "Handjet";
    font-weight: 200;
    src: url("/modules/cy-borg-alternative-sheets/assets/handjet_variable.ttf");
}

@font-face {
    font-family: "Noto sans";
    src: url("/modules/cy-borg-alternative-sheets/assets/noto-sans_variable.ttf");
}

/*================================================== BACKGROUNDS */

.CYAltNpcSheet {
    background-image: url('/modules/cy-borg-alternative-sheets/assets/id_card.webp');
}

.CYAltVehicleSheet {
    background-image: url('/modules/cy-borg-alternative-sheets/assets/npc_dot-screen.webp');
}

.CYAltItem-app,
.CYAltItem-cyberdeck {
    --altBg: rgb(42, 109, 130);
    --altHover: rgb(40, 221, 221);
    --altNegative: var(--altRed);
    --altTrans: rgba(42, 109, 130, 0.5);
    background-image: url('/modules/cy-borg-alternative-sheets/assets/tech_background.webp');
}

.CYAltItem-armor,
.CYAltItem-equipment {
    --altBg: rgb(35, 118, 42);
    --altHover: rgb(24, 240, 129);
    --altNegative: var(--altRed);
    --altTrans: rgba(35, 118, 42, 0.5);
    background-image: url('/modules/cy-borg-alternative-sheets/assets/equipment_background.webp');
}

.CYAltItem-class,
.CYAltItem-feat {
    --altBg: rgb(66, 73, 73);
    --altHover: rgb(160, 160, 160);
    --altNegative: var(--altRed);
    --altTrans: rgba(66, 73, 73, 0.5);
    background-image: url('/modules/cy-borg-alternative-sheets/assets/misc_background.webp');
}

.CYAltItem-infestation,
.CYAltItem-nanoPower {
    --altBg: rgb(104, 11, 123);
    --altHover: rgb(255, 0, 187);
    --altNegative: var(--altRed);
    --altTrans: rgba(104, 11, 123, 0.5);
    background-image: url('/modules/cy-borg-alternative-sheets/assets/nano_background.webp');
}

.CYAltItem-weapon {
    --altBg: rgb(140, 24, 30);
    --altHover: var(--altRed);
    --altNegative: rgb(51, 51, 51);
    --altTrans: rgba(140, 24, 30, 0.5);
    background-image: url('/modules/cy-borg-alternative-sheets/assets/weapon_background.webp');
}

/*=================================================================
                        SHEET GENERAL 
=================================================================*/

.CYAltSheet {
    --color-scrollbar: var(--altHi);
    --color-scrollbar-track: var(--altTrans);

    background-size: contain;
    border-radius: var(--altBorderRadius);
}

.CYAltSheet .window-content {
    background: none;
    color: var(--altHi);
}

.CYAltSheet>header {
    border-radius: var(--altBorderRadius) var(--altBorderRadius) 0 0;
    border-bottom: none !important;
}

.CYAltSheet header,
.CYAltSheet header>h4 {
    font-weight: bold;
}

.CYAltSheet .editor .editor-menu,
.CYAltSheet .editor .editor-menu button,
.CYAltSheet .editor .editor-menu li,
.CYAltSheet .editor .editor-menu i {
    background-color: var(--altBg);
    color: var(--altHi);
}

.CYAltSheet .editor .editor-menu,
.CYAltSheet .editor .editor-menu button {
    border: var(--altBorderWidth) solid var(--altTrans);
}

.CYAltSheet fieldset {
    border: var(--altBorderWidth) solid var(--altTrans);
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.CYAltSheet input[type="text"],
.CYAltSheet textarea {
    border: var(--altBorderWidth) solid var(--altTrans);
    color: var(--altHi);
}

.altButton {
    border: none;
    margin: 0;
}

.tabs>[data-tab].active {
    background-color: var(--altTrans);
    color: var(--altBg);
}

.tabs>[data-tab].active:hover {
    background-color: var(--altNegative);
}

.altContainer,
.altGrid {
    display: grid;
    gap: var(--altGap);
}

.altFlex,
.altRowFlex,
.altJoin {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.altFlex,
.altRowFlex,
.altHpNum {
    gap: var(--altGap);
}

.altHp {
    align-items: center;
    line-height: 1;
}

.altHp input[type="number"] {
    border: none;
    background-color: var(--altHi);
    color: var(--altBg);
    font-weight: bold;
    text-align: center;
}

.altHpNum {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.altHpSlash {
    font-size: 1.75em;
}

.altImage {
    border: var(--altBorderWidth) solid var(--altBg);
    cursor: pointer;
    object-fit: cover;
    object-position: 50%;
}

.altInv {
    background-color: var(--altHi);
    color: var(--altBg);
    font-weight: bold;
    text-transform: uppercase;
}

.altJoin input[type="text"] {
    border: var(--altBorderWidth) solid var(--altHi);
    border-radius: 0px;
    padding-left: var(--altPadding);
}

.altJoin span {
    padding: 6px;
}

.altRowFlex {
    flex-direction: column;
}

.altTier {
    border: var(--altBorderWidth) solid var(--altHi);
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.altTierNA {
    border-color: var(--altTrans);
    color: var(--altTrans);
}

/*=================================================================
                        SHEET VARIABLE ELEMENTS 
=================================================================*/

.CYAltVehicleSheet>header,
.CYAltItemSheet>header {
    background-color: none;
    color: var(--altHi);
}

.CYAltVehicleSheet .altButton:hover,
.CYAltVehicleSheet input[type="text"]:hover,
.CYAltVehicleSheet input[type="number"]:hover,
.CYAltItemSheet #itemName:hover,
.CYAltItemSheet textarea:hover,
.CYAltItemSheet .altData input[type="text"]:hover,
.CYAltItemSheet .altData input[type="number"]:hover { 
    background-color: var(--altHover);
    color: var(--altBg);
}

/*==================================================== NPC SHEET */

.CYAltNpcSheet {
    --altBg: #eeeeee;
    --altDark: rgb(72, 72, 72);
    --altHi: rgb(49, 76, 118);
    --altHover: rgb(243, 230, 0);
    --altNegative: rgb(255, 0, 85);
    --altTrans: rgba(49, 76, 118, 0.5);
    --altBorderRadius: 1.5em;
}

.CYAltNpcSheet,
.CYAltNpcSheet input[type="text"],
.CYAltNpcSheet input[type="number"],
.CYAltNpcSheet button,
.CYAltNpcSheet textarea {
    font-family: 'Noto sans', monospace;
    font-size: 9pt;
}

.CYAltNpcSheet textarea {
    font-size: 1em;
}

.CYAltNpcSheet>header {
    background-color: var(--altHi);
    color: var(--altBg);
}

.CYAltNpcSheet input[type="text"] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: var(--altBorderWidth) dotted var(--altHi);
}

.CYAltNpcSheet textarea,
.CYAltNpcSheet .editor {
    border: var(--altBorderWidth) dotted var(--altHi);
}

.CYAltNpcSheet .altButton:hover,
.CYAltNpcSheet input[type="text"]:hover,
.CYAltNpcSheet input[type="number"]:hover {
    background-color: var(--altHover);
    color: var(--altHi);
}

.CYAltNpcSheet .altImage {
    height: 234px;
    width: 234px;
}

.CYAltNpcSheet #charName {
    border-radius: 0px;
    font-size: 1.75em;
    font-weight: bold;
    margin: 0 0 var(--altPadding) 0;
}

.CYAltNpcSheet .altEditor,
.CYAltNpcSheet .editor {
    height: 23em;
    padding: var(--altPadding);
}

.CYAltNpcSheet .altContainer {
    height: calc(100% - 20px);
    grid-template-columns: 60% 40%;
}

.CYAltNpcSheet .altBold {
    color: var(--altDark);
    text-transform: uppercase;
}

.CYAltNpcSheet .altHp input[type="number"] {
    width: 4em;
}

.CYAltNpcSheet .altPortrait {
    height: calc(100% - 32px);
}

/*================================================ VEHICLE SHEET */

.CYAltVehicleSheet {
    --altBg: rgb(17, 17, 17);
    --altHi: rgb(253, 147, 45);
    --altHover: rgb(28, 213, 119);
    --altNegative: rgb(255, 0, 80);
    --altTrans: rgba(255, 144, 8, 0.5);
    --altBorderRadius: 0.25em;
}

.CYAltVehicleSheet,
.CYAltVehicleSheet button {
    font-family: "UAV OSD Sans Mono", monospace;
    font-size: 8pt;
}

.CYAltVehicleSheet .altContainer {
    grid-template-columns: 28em 40.5em;
}

.CYAltVehicleSheet .altImage {
    border: none !important;
    filter: sepia(100%) hue-rotate(-10deg) saturate(5) brightness(1.2);
    height: 280px;
    width: 280px;
}

.CYAltVehicleSheet .altHp input[type="number"] {
    width: 6em;
}

.CYAltVehicleSheet .altSheetBody {
    margin: 0 1% 1% 0;
}

.CYAltVehicleSheet .altEditor,
.CYAltVehicleSheet .editor {
    height: 39em;
}

.CYAltVehicleSheet #infoTab {
    grid-template-rows: 94% 6%;
}

.CYAltVehicleSheet #invTab {
    grid-template-rows: 60% 40%;
}

.CYAltVehicleSheet .combatGrid {
    grid-template-columns: 35% 45% 18%;
}

.CYAltVehicleSheet .item a:hover {
    color: var(--altHover);
}

.CYAltVehicleSheet #addItem:hover {
    background-color: var(--altHover);
}

.CYAltVehicleSheet a.altTierNA:hover {
    color: var(--altNegative);
}

/*=================================================== ITEM SHEET */

.CYAltItemSheet {
    --altHi: #eeeeee;
    --altBorderRadius: 0.25em;
    --altBorderWidth: 1px;

    border: var(--altBorderWidth) solid var(--altHi);
    font-family: "QuanPixel 8px";
    font-size: 9pt;
}

.CYAltItemSheet fieldset {
    border: var(--altBorderWidth) solid var(--altHi);
    padding: var(--altPadding);
}

.CYAltItemSheet textarea {
    border: none;
    padding: 0;
}

.CYAltItem-app .altImage,
.CYAltItem-armor.altImage,
.CYAltItem-equipment.altImage,
.CYAltItem-infestation.altImage,
.CYAltItem-feat.altImage,
.CYAltItem-nanoPower.altImage {
    height: 180px;
    width: 180px;
}

.CYAltItem-class .altImage {
    height: 342px;
    width: 342px;
}

.CYAltItem-weapon .altImage {
    height: 245px;
    width: 245px;
}

.CYAltItemSheet .altTrans {
    background-color: var(--altTrans);
}

.CYAltItemSheet .altContainer {
    grid-template-columns: 47% calc(51% + 3px);
}

.CYAltItemSheet .altData {
    align-items: center;
    height: 17.5em;
}

.CYAltItem-app .altData {
    grid-template-columns: 44% 52%;
}

.CYAltItem-armor .altData,
.CYAltItem-cyberdeck .altData,
.CYAltItem-equipment .altData,
.CYAltItem-infestation .altData {
    grid-template-columns: 47% 50%;
}

.CYAltItem-class .altData {
    grid-template-columns: 37% 61%;
}

.CYAltItem-class .altEditor {
    height: 312px !important;
}

.CYAltItem-feat .altData {
    grid-template-columns: 20% 77%;
}

.CYAltItem-nanoPower .altPortrait {
    height: 17em;
}

.CYAltItem-nanoPower #itemPortrait {
    height: 104%;
}

.CYAltItem-weapon .altData {
    grid-template-columns: 45% 53%;
}

.CYAltItem-class .altData,
.CYAltItem-weapon .altData {
    height: unset;
}

.CYAltItem-weapon .altEditor {
    height: 17em !important;
}

.CYAltItemSheet .altData input[type="number"],
.CYAltItemSheet .altData input[type="text"] {
    background-color: var(--altTrans);
    border: none;
    color: var(--altHi);
    font-weight: bold;
}

.CYAltItemSheet .altData input[type="checkbox"] {
    margin: 0;
}

.CYAltItemSheet .altData span {
    word-wrap: break-word;
}

.CYAltItemSheet .altEditor {
    background-color: var(--altTrans);
    width: 100%;
}

.CYAltItemSheet .altEditor,
.CYAltItemSheet .editor {
    height: 11em;
}

.CYAltItemSheet #itemPortrait {
    border: var(--altBorderWidth) solid var(--altHi);
    border-radius: var(--altBorderRadius);
}

.CYAltItemSheet #itemName {
    background-color: var(--altTrans);
    font-weight: bold;
}

/*=================================================================
                       FUNCITONAL CLASSES 
=================================================================*/

.altAlignC {
    text-align: center;
}

.altAlignR {
    text-align: right;
}

.altBold {
    font-weight: bold;
}

.altCalcHeight {
    height: calc(100% - 8px);
}

.altFullHeight {
    height: 100%
}

.altFullWidth {
    width: 100%;
}

.altPadding {
    padding: var(--altPadding);
}

.altSmallPadding {
    padding: var(--altSmallPadding);
}

.altMarginBtm {
    margin: 0 0 var(--altPadding) 0;
}
