:root {
    --altNpcBg: rgb(51, 51, 51);
    --altNpcBgTrans: rgba(0, 0, 0, 0.1);
    --altNpcHi: #dddddd;
    --altNpcBlue: rgb(49, 76, 118);
    --altNpcBlueTrans: rgba(49, 76, 118, 0.5);
}


/*=================================================================
                        SHEET GENERAL 
=================================================================*/


.CYAltSheet {
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.CYAltSheet>.window-content {
    background: none !important;
    flex-direction: row;
    overflow: hidden;
}

/*================================================== BACKGROUNDS */

.CYAltNpcSheet {
    background-image: url('/modules/cy-borg-alternative-sheets/assets/id_card.jpg');
    border-radius: 1em;
}

.CYAltItem-app,
.CYAltItem-cyberdeck {
    background-image: url('/modules/cy-borg-alternative-sheets/assets/tech_background.jpg');
}

.CYAltItem-armor,
.CYAltItem-equipment {
    background-image: url('/modules/cy-borg-alternative-sheets/assets/equipment_background.jpg');
}

.CYAltItem-class,
.CYAltItem-feat {
    background-image: url('/modules/cy-borg-alternative-sheets/assets/misc_background.jpg');
}

.CYAltItem-infestation,
.CYAltItem-nanoPower {
    background-image: url('/modules/cy-borg-alternative-sheets/assets/nano_background.jpg');
}

.CYAltItem-weapon {
    background-image: url('/modules/cy-borg-alternative-sheets/assets/weapon_background.jpg');
}

/*==================================================== NPC SHEET */
.CYAltNpcSheet>header {
    border-radius: 1em 1em 0 0;
}

.CYAltNpcSheet fieldset {
    border: none;
    margin: 5px 0;
    padding: 0px;
}

.CYAltNpcSheet .altEditor,
.CYAltNpcSheet .altEditor .editor {
    height: 100%
}

.CYAltNpcSheet legend {
    font-weight: 900;
    padding: 0;
}

.CYAltNpcSheet .altPortrait>img {
    height: 230px;
    width: 230px;
}

/*=================================================== ITEM SHEET */

.CYAltItemSheet {
    border-radius: 0.25em;
}

.CYAltItem-class .altEditor,
.CYAltItem-weapon .altEditor {
    margin-top: 1em;
    max-height: 30%;
}

.CYAltItemSheet .altPortrait>img {
    width: 100%;
}

.CYAltItemSheet>header {
    border: none !important;
}

/* .CYAltSheet fieldset { */
/*     padding: 5px; */
/*     margin: 0 0 5px 0; */
/* } */

/*=================================================================
                        SHEET ELEMENTS
=================================================================*/


.altButton {
    border: none;
    font-weight: bold;
    margin: 5px 0;
    text-transform: uppercase;
}

.altColumns {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
}

.altColumns>.altPortrait {
    flex: 1;
    height: auto;
    width: 100%;
}

.altPortrait img {
    cursor: pointer;
    object-fit: cover;
}

.altPortrait nav {
    width: 100%;
}

.altPortrait legend {
    line-height: 0.5;
}

.altRowFlex,
.altFlex {
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.altRowFlex {
    flex-direction: column;
    height: 100%;
}

.altSheetBody {
    height: 75%;
}

/*========================================================= INFO */

.altColumns>.altInfo {
    flex: 1.5;
    max-height: 350px;
}

.altColumns>.altData {
    flex: 1;
}

.altPortrait #charName,
.altPortrait #itemType,
.altInfo #charName {
    font-family: monospace;
    font-weight: bold;
    height: auto;
}

.altInfo #charName {
    font-size: 2em;
}

.altData {
    overflow: scroll;
}

.altInfo input[type="number"],
.altData input[type="number"] {
    border: none;
    font-weight: bold;
    text-align: center;
    width: 4em;
}

.altInfo #numberStats {
    margin-bottom: 10px;
}

.altInfo .altStats {
    display: flex;
    gap: 5px;
}

.altInfo textarea {
    background: none;
    border: none;
    padding: 5px;
    resize: none;
}

.altLabel {
    font-weight: bold;
}

.altLabel,
.altLabelMinor {
    text-transform: uppercase;
}

/*======================================================= EDITOR */

.altEditor {
    overflow: scroll;
    width: 100%;
}

.altEditor .editor {
    min-height: 60px;
}

/*=================================================================
                       COLORS
=================================================================*/

/*==================================================== NPC SHEET */

.CYAltNpcSheet>header,
.CYAltNpcSheet>header h4,
.CYAltNpcSheet input[type="number"],
.CYAltNpcSheet input[type="checkbox"],
.CYAltNpcSheet .altButton {
    background-color: var(--altNpcBlue);
    border: none;
    color: var(--altNpcHi);
    font-weight: bold;
}

.CYAltNpcSheet .altButton:hover {
    background-color: var(--altNpcHi);
    color: var(--altNpcBlue);
}

.CYAltNpcSheet input[type="number"],
.CYAltNpcSheet input[type="checkbox"],
.CYAltNpcSheet .altButton {
    text-transform: uppercase;
}

.CYAltNpcSheet .tabs>[data-tab].active {
    background-color: var(--altNpcBlueTrans);
}

.CYAltNpcSheet input[type="text"] {
    background: none;
    border-bottom: 2px dotted var(--altNpcBlue);
    border-left: none;
    border-right: none;
    border-top: none;
    color: var(--altNpcBlue);
}

.CYAltNpcSheet textarea {
    border: 2px dotted var(--altNpcBlue);
    color: var(--altNpcBlue);
}

.CYAltNpcSheet p,
.CYAltNpcSheet span,
.CYAltNpcSheet legend {
    color: var(--altNpcBg);
}

/*=================================================== ITEM SHEET */

