:root {
    --altFullHeight: calc(100% - var(--header-height));
    --altItemHi: #eeeeee;
    --altItemBg-blue: rgb(42, 109, 130);
    --altItemBg-green: rgb(35, 118, 42);
    --altItemBg-grey: rgb(66, 73, 73);
    --altItemBg-purple: rgb(104, 11, 123);
    --altItemBg-red: rgb(140, 24, 30);
    --altNpcBg: rgb(51, 51, 51);
    --altNpcBgTrans: rgba(0, 0, 0, 0.1);
    --altNpcHi: #dddddd;
    --altNpcBlue: rgb(49, 76, 118);
    --altNpcBlueTrans: rgba(49, 76, 118, 0.5);
    --altNpcBorderRadius: 1.5em;
    --altVehicleOrange: rgb(255, 123, 8);
    --altVehicleOrangeTrans: rgba(255, 123, 8, 0.5);
    --altVehicleBg: rgb(17, 17, 17)
}

@font-face {
    font-family: "Handjet";
    font-weight: 200;
    src: url("/modules/cy-borg-alternative-sheets/assets/handjet_variable.ttf");
}

/*=================================================================
                        SHEET GENERAL 
=================================================================*/


.CYAltSheet {
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.CYAltSheet>.window-content {
    background: none !important;
    flex-direction: row;
    overflow: hidden;
}

.CYAltVehicleSheet.minimized,
.CYAltItemSheet.minimized {
    background-size: auto;
}

.CYAltNpcSheet.minimized {
    background: none;
}

.CYAltNpcSheet.minimized>header {
    border-radius: 0.5em;
}

.CYAltVehicleSheet {
    border: 2px dotted #555;
    border-radius: 3px;
}
.CYAltVehicleSheet,
.CYAltVehicleSheet .altButton,
.CYAltVehicleSheet input[type="number"],
.CYAltVehicleSheet input[type="text"] {
    font-family: Handjet, monospace;
    font-size: large;
    text-transform: uppercase;
}

.CYAltVehicleSheet>.window-content {
    color: inherit;
    font-weight: inherit
}

/*================================================== BACKGROUNDS */

.CYAltNpcSheet {
    background-image: url('/modules/cy-borg-alternative-sheets/assets/id_card.webp');
    border-radius: var(--altNpcBorderRadius);
}

.CYAltVehicleSheet {
    background-image: url('/modules/cy-borg-alternative-sheets/assets/npc_dot-screen.webp');
}

.CYAltItem-app,
.CYAltItem-cyberdeck {
    background-image: url('/modules/cy-borg-alternative-sheets/assets/tech_background.webp');
}

.CYAltItem-armor,
.CYAltItem-equipment {
    background-image: url('/modules/cy-borg-alternative-sheets/assets/equipment_background.webp');
}

.CYAltItem-class,
.CYAltItem-feat {
    background-image: url('/modules/cy-borg-alternative-sheets/assets/misc_background.webp');
}

.CYAltItem-infestation,
.CYAltItem-nanoPower {
    background-image: url('/modules/cy-borg-alternative-sheets/assets/nano_background.webp');
}

.CYAltItem-weapon {
    background-image: url('/modules/cy-borg-alternative-sheets/assets/weapon_background.webp');
}

/*==================================================== NPC SHEET */

.CYAltNpcSheet>header {
    border-radius: var(--altNpcBorderRadius) var(--altNpcBorderRadius) 0 0;
}

.CYAltNpcSheet fieldset {
    border: none;
    padding: 0px;
    margin: 5px 0;
}

.CYAltNpcSheet .altEditor,
.CYAltNpcSheet .editor,
.CYAltVehicleSheet .altEditor,
.CYAltVehicleSheet .editor {
    height: 100%
}

.CYAltNpcSheet legend {
    font-weight: 900;
    padding: 0;
}

.CYAltNpcSheet .altPortrait>img {
    height: 230px;
    width: 230px;
}

/*================================================ VEHICLE SHEET */

.CYAltVehicleSheet .altPortrait>img {
    height: 272px;
    width: 272px;
}

.CYAltVehicleSheet fieldset,
.CYAltVehicleSheet .altColumns,
.CYAltVehicleSheet .altInfo {
    height: 100%;
}

.CYAltVehicleSheet .altSheetBody {
    height: calc(100% - var(--header-height));
}

/*=================================================== ITEM SHEET */

.CYAltItemSheet {
    border-radius: 0.5em;
}

.CYAltItemSheet .altPortrait>img {
    width: 100%;
}

.CYAltItemSheet>header h4 {
    font-weight: bold;
}

.CYAltItemSheet>header {
    border: none !important;
    font-weight: bold;
}

.CYAltItem-class .altPortrait,
.CYAltItem-weapon .altPortrait {
    display: flex;
    flex-direction: column;
}

.CYAltItem-class .altEditor,
.CYAltItem-weapon .altEditor {
    margin-top: 1em;
    height: 100%;
}

.CYAltItem-nanoPower .altPortrait {
    max-width: 50%;
}

/*=================================================================
                        SHEET ELEMENTS
=================================================================*/


.altButton {
    border: none;
    font-weight: bold;
    margin: 5px 0;
    text-transform: uppercase;
}

.altColumns {
    display: flex;
    gap: 4px;
    justify-content: space-between;
    width: 100%;
}

.altColumns>.altPortrait {
    flex: 1;
    height: auto;
    width: 100%;
}

.altPortrait img {
    cursor: pointer;
    object-fit: cover;
}

.altPortrait nav {
    width: 100%;
}

.altRowFlex,
.altFlex {
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.altRowFlex {
    flex-direction: column;
    height: 100%;
}

.altSheetBody {
    height: 75%;
}

/*========================================================= INFO */

.altColumns>.altInfo {
    flex: 1.5;
    height: var(--altFullHeight);
}

.altColumns>.altData {
    flex: 1;
}

.altPortrait #charName,
.altPortrait #itemType,
.altInfo #charName {
    font-weight: bold;
    height: auto;
}

.altInfo #charName {
    font-size: 2em;
}

.altItemName {
    font-weight: bold;
    gap: 0px;
}

.altItemName>span {
    padding: 3px;
}

.altItemName>input[type="text"] {
    border-radius: 0px;
}

.altData {
    overflow: scroll;
}

.altData input[type="text"] {
    max-width: 66%;
}

.altData input {
    height: 2em;
    margin: 2px 0;
}

.altStats input[type="number"],
.altInfo input[type="number"],
.altData input[type="number"] {
    font-weight: bold;
    text-align: center;
    width: 4em;
    padding: 0;
}

.altInfo #numberStats {
    margin-bottom: 10px;
}

.altStats {
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.altInfo textarea {
    background: none;
    border: none;
    padding: 5px;
    resize: none;
}

.altLabel {
    font-weight: bold;
}

.altLabel,
.altLabelMinor {
    text-transform: uppercase;
}


/*======================================================= EDITOR */

.altEditor {
    overflow: scroll;
    width: 100%;
}

.altEditor .editor {
    min-height: 60px;
}

/*=================================================================
                       COLORS
=================================================================*/

/*==================================================== NPC SHEET */

.CYAltNpcSheet>header,
.CYAltNpcSheet>header h4,
.CYAltNpcSheet input[type="number"],
.CYAltNpcSheet input[type="checkbox"],
.CYAltNpcSheet .altButton {
    background-color: var(--altNpcBlue);
    border: none;
    color: var(--altNpcHi);
    font-weight: bold;
}

.CYAltNpcSheet .altButton:hover {
    background-color: var(--altNpcHi);
    color: var(--altNpcBlue);
}

.CYAltNpcSheet input[type="number"],
.CYAltNpcSheet input[type="checkbox"],
.CYAltNpcSheet .altButton {
    text-transform: uppercase;
}

.CYAltNpcSheet .tabs>[data-tab].active {
    background-color: var(--altNpcBlueTrans);
}

.CYAltNpcSheet input[type="text"] {
    background: none;
    border-bottom: 2px dotted var(--altNpcBlue);
    border-left: none;
    border-right: none;
    border-top: none;
    color: var(--altNpcBlue);
}

.CYAltNpcSheet textarea {
    border: 2px dotted var(--altNpcBlue);
    color: var(--altNpcBlue);
}

.CYAltNpcSheet p,
.CYAltNpcSheet span,
.CYAltNpcSheet legend {
    color: var(--altNpcBg);
}

/*================================================ VEHICLE SHEET */

.CYAltVehicleSheet>header {
    border-bottom: 1px solid var(--altVehicleOrange) !important;
}

.CYAltVehicleSheet p,
.CYAltVehicleSheet span,
.CYAltVehicleSheet legend,
.CYAltVehicleSheet input,
.CYAltVehicleSheet textarea,
.CYAltVehicleSheet header,
.CYAltVehicleSheet button,
.CYAltVehicleSheet input[type="text"] {
    color: var(--altVehicleOrange);
}

.CYAltVehicleSheet .altPortrait>img,
.CYAltVehicleSheet input,
.CYAltVehicleSheet fieldset {
    /* border-color: var(--altVehicleOrangeTrans); */
    border: 2px solid var(--altVehicleOrangeTrans)
}

.CYAltVehicleSheet input[type="number"],
.CYAltVehicleSheet input[type="checkbox"],
.CYAltVehicleSheet .altButton {
    background-color: var(--altVehicleOrange);
    color: var(--altVehicleBg);
}

.CYAltVehicleSheet .altButton:hover {
    background-color: var(--altVehicleBg);
    color: var(--altVehicleOrange);
}

.CYAltVehicleSheet .tabs>[data-tab].active {
    background-color: var(--altVehicleOrangeTrans);
}

.CYAltVehicleSheet .altItemName>span {
    background-color: var(--altVehicleOrange);
    color: var(--altVehicleBg);
}

.CYAltVehicleSheet .altItemName> input[type="text"] {
    border: 2px solid var(--altVehicleOrange);
}

.altVehicleTextInv {
    background-color: var(--altVehicleOrange);
    color: var(--altVehicleBg) !important;
    font-weight: 600;
}

/*=================================================== ITEM SHEET */

.CYAltItemSheet {
    border: 2px solid var(--altItemHi);
}

.CYAltItemSheet p,
.CYAltItemSheet span,
.CYAltItemSheet legend,
.CYAltItemSheet input,
.CYAltItemSheet textarea,
.CYAltItemSheet header {
    color: var(--altItemHi);
}

.CYAltItemSheet input[type="text"],
.CYAltItemSheet input[type="number"],
.CYAltItemSheet textarea {
    border: 1px dotted var(--altItemHi);
}

CYAltItemSheet .altItemName>span {
    background-color: var(--altItemHi);
    color: var(--altItemBg_app);
}

CYAltItemSheet .altItemName input[type="text"] {
    border: 2px solid var(--altItemHi);
}

.CYAltItemSheet .altBgInv {
    background-color: var(--altItemHi);
    color: var(--altNpcBg);
}

.CYAltItem-app .altBg,
.CYAltItem-cyberdeck .altBg {
    background-color: var(--altItemBg-blue);
}

.CYAltItem-armor .altBg,
.CYAltItem-equipment .altBg {
    background-color: var(--altItemBg-green);
}

.CYAltItem-class .altBg,
.CYAltItem-feat .altBg {
    background-color: var(--altItemBg-grey);
}

.CYAltItem-infestation .altBg,
.CYAltItem-nanoPower .altBg {
    background-color: var(--altItemBg-purple);
}

.CYAltItem-weapon .altBg {
    background-color: var(--altItemBg-red);
}
