<form class="{{cssClass}}" autocomplete="off">
    <div class="altContainer altCalcHeight">

        <!-- portrait and sheet controls go here -->
        <fieldset class="altPortrait">
            <legend class="altInv altSmallPadding">Vehicle</legend>

            <img class="altImage" src="{{actor.img}}" data-edit="img" data-zoom="{{actor.img}}" data-id="{{actor.id}}"title="{{actor.name}}"/>          

            <div class="altRowFlex">
                <div class="altJoin altFullWidth">
                    <span class="altInv">Name</span>
                    <input type="text" name="name" value="{{actor.name}}" placeholder="{{ localize 'CY.Name' }}" spellcheck="false"/>          
                </div>

                <div class="altFlex altHp altFullWidth">
                    <p class="altPadding"><b>{{localize "CY.HitPoints"}}:</b></p>
                    <div class="altHpNum" >
                        <input type="number" name="system.hitPoints.value" value="{{data.system.hitPoints.value}}" />
                        <span class="altHpSlash"><b>/</b></span>
                        <input type="number" name="system.hitPoints.max" value="{{data.system.hitPoints.max}}" />
                    </div>
                </div>

                <div class="altFlex altFullWidth">
                    <button type="button" class="altButton altInv initiative-button">{{ localize 'CY.Initiative' }}</button>
                    <button type="button" class="altButton altInv defend-button">{{ localize 'CY.Defend' }}</button>
                </div>

                <nav class="altSheetTabs tabs altFlex altFullWidth" data-group="primary">
                    <button type="button" class="altButton altInv" data-tab="info">Info</button>
                    <button type="button" class="altButton altInv" data-tab="inventory">Inventory</button>
                </nav>
            </div>

        </fieldset>

        <!-- sheet tabs go here -->
        <section class="altSheetBody">

            <!-- info tab -->
            <div class="tab data-tab altFullHeight" data-group="primary" data-tab="info">
                <div id="infoTab" class="altGrid altFullHeight">
                    <fieldset class="altEditor">
                        <legend class="altInv altSmallPadding">Info</legend>
                        {{editor data.system.description target="system.description"
                        button=true owner=owner editable=true engine="prosemirror"}}        
                    </fieldset>
                    <div class="altJoin">
                        <span class="altInv">{{localize "CY.Owner"}}</span>
                        <input type="text" name="system.owner" value="{{data.system.owner.name}}" />
                    </div>
                </div>
            </div>

            <!-- inventory tab -->
            <div class="tab data-tab altFullHeight" data-group="primary" data-tab="inventory">
                <div id="invTab" class="altGrid altFullHeight">
                    <fieldset>
                        <legend class="altInv altSmallPadding altMarginBtm">Inventory</legend>
                        {{> modules/cy-borg-alternative-sheets/templates/actors/equipment.html}}
                    </fieldset>

                    <fieldset>
                        <legend class="altInv altSmallPadding">Combat</legend>
                        {{> modules/cy-borg-alternative-sheets/templates/actors/combat.html}}
                    </fieldset>
                </div>

            </div>
        </section>

    </div>
</form>
