<form>
    <div class="altColumns">

        <fieldset class="altPortrait">

            <legend class="altVehicleTextInv">VEHICLE</legend>
            <img id="charPortrait" src="{{actor.img}}" data-edit="img" data-zoom="{{actor.img}}" data-id="{{actor.id}}"title="{{actor.name}}"/>          
            <input id="charName" type="text" name="name" value="{{actor.name}}" placeholder="{{ localize 'CY.Name' }}" spellcheck="false"/>          

            <div id="HP" class="altStats">
                <p class="altLabel">{{localize "CY.HitPoints"}}:</p>
                <input type="number" name="system.hitPoints.value" value="{{data.system.hitPoints.value}}" />
                <p class="altLabel">/</p>
                <input type="number" name="system.hitPoints.max" value="{{data.system.hitPoints.max}}" />
            </div>

            <div class="altFlex">
                <button type="button" class="altButton initiative-button">{{ localize 'CY.Initiative' }}</button>
                <button type="button" class="altButton defend-button">{{ localize 'CY.Defend' }}</button>
            </div>

            <nav class="altSheetTabs tabs altFlex" data-group="primary">
                <button type="button" class="altButton" data-tab="info">INFO</button>
                <button type="button" class="altButton" data-tab="inventory">INVENTORY</button>
            </nav>

        </fieldset>

        <div class="altInfo">

            <div class="altSheetBody">
                <fieldset class="tab data-tab altEditor" data-group="primary" data-tab="info">
                    <legend class="altVehicleTextInv">INFO</legend>
                    {{editor data.system.description target="system.description"
                    button=true owner=owner editable=true engine="prosemirror"}}        
                </fieldset>

                <fieldset class="tab data-tab altEditor" data-group="primary" data-tab="inventory">
                    <legend class="altVehicleTextInv">INVENTORY</legend>
                    {{> modules/cy-borg-alternative-sheets/templates/equipment.html}}
                </fieldset>

            </div>

            <div class="altFlex altItemName" style="margin: 8px 2px 0 2px;">
                <span class="altVehicleTextInv">{{localize "CY.Owner"}}</span>
                <input type="text" name="sysmte.owner" value="{{data.system.owner.name}}" />
            </div>
        </div>

    </div>
</form>
