<form class="{{cssClass}}" autocomplete="off">

    <div class="altRowFlex">
        <div class="altColumns">

            <div class="altPortrait">
                <img id="charPortrait" src="{{item.img}}" data-edit="img" data-zoom="{{item.img}}" data-id="{{item.id}} "title="{{item.name}}"/>          
                <div class="altFlex altItemName">
                    <span id="itemType">ARMOR</span>
                    <input class="altBg" id="charName" type="text" name="name" value="{{item.name}}" placeholder="{{ localize 'CY.Name' }}" spellcheck="false"/>          
                </div>
            </div>

            <div class="altData">

                <div class="altFlex">
                    <span class="altLabel">TIER: </span>
                    <input class="altBg" type="number" name="system.tier.value" value="{{data.system.tier.value}}" />
                    <span class="altLabel">/</span>
                    <input class="altBg" type="number" name="system.tier.max" value="{{data.system.tier.max}}" />
                </div>

                <div class="altFlex">
                    <span class="altLabel">{{localize 'CY.Price'}}: </span>
                    <input class="altBg" type="number" name="system.price" value="{{data.system.price}}" />
                </div>

                <div class="altFlex">
                    <span class="altLabel">{{localize 'CY.Illegal'}}: </span>
                    <input class="altBg" type="checkbox" name="system.illegal" {{checked data.system.price}} />
                </div>

                <div class="altFlex">
                    <span class="altLabel">{{localize 'CY.Cybertech'}}: </span>
                    <input class="altBg" type="checkbox" name="system.cybertech" {{checked data.system.cybertech}} />
                </div>

                <div class="altFlex">
                    <span class="altLabel">{{localize 'CY.CarrySlots'}}: </span>
                    <input class="altBg" type="number" name="system.carrySlots" value="{{data.system.carrySlots}}" />
                </div>

                <div class="altFlex">
                    <span class="altLabel">{{localize 'CY.Quantity'}}: </span>
                    <input class="altBg" type="number" name="system.quantity" value="{{data.system.quantity}}" />
                </div>

            </div>
        </div>

        <fieldset class="altEditor altBg">
            <legend class="altLabel altBgInv">DESCRIPTION</legend>
            {{editor data.system.description target="system.description"
            button=true owner=owner editable=true engine="prosemirror"}}  
        </fieldset>

    </div>
</form>

