<form class="{{cssClass}}" autocomplete="off">

    <div class="altRowFlex altFullHeight">
        <div class="altContainer">

            <!-- portrait -->
            <div class="altPortrait">
                <img class="altImage" id="itemPortrait" src="{{item.img}}" data-edit="img" data-zoom="{{item.img}}" data-id="{{item.id}} "title="{{item.name}}"/>          
                <div class="altJoin">
                    <span class="altInv altPadding">DECK</span>
                    <input id="itemName" type="text" name="name" value="{{item.name}}" placeholder="{{ localize 'CY.Name' }}" spellcheck="false"/>          
                </div>
            </div>

            <!-- fields -->
            <fieldset class="altGrid altData">
                <span class="altBold">{{localize 'CY.Price'}}</span>
                <input type="number" name="system.price" value="{{data.system.price}}" />
                
                <span class="altBold">{{localize 'CY.Illegal'}}</span>
                <input type="checkbox" name="system.illegal" {{checked data.system.illegal}} />

                <span class="altBold">{{localize 'CY.Cybertech'}}</span>
                <input type="checkbox" name="system.cybertech" {{checked data.system.cybertech}} />

                <span class="altBold">{{localize 'CY.CarrySlots'}}</span>
                <input type="number" name="system.carrySlots" value="{{data.system.carrySlots}}" />

                <span class="altBold">{{localize 'CY.Quantity'}}</span>
                <input type="number" name="system.quantity" value="{{data.system.quantity}}" />

                <span class="altBold">{{localize 'CY.SlotFormula'}}</span>
                <input type="text" name="system.slotFormula" value="{{data.system.slotFormula}}" />
            </fieldset>
        </div>

        <!-- description -->
        <fieldset class="altEditor">
            <legend class="altInv altSmallPadding">Description</legend>
            {{editor data.system.description target="system.description"
            button=true owner=owner editable=true engine="prosemirror"}}  
        </fieldset>

    </div>
</form>
  
