<form class="{{cssClass}}" autocomplete="off">

    <div class="altRowFlex">
        <div class="altColumns">

            <div class="altPortrait">

                <img id="charPortrait" src="{{item.img}}" data-edit="img" data-zoom="{{item.img}}" data-id="{{item.id}} "title="{{item.name}}"/>          
                <div class="altFlex altItemName">
                    <span id="itemType">WEAPON</span>
                    <input class="altBg" id="charName" type="text" name="name" value="{{item.name}}" placeholder="{{ localize 'CY.Name' }}" spellcheck="false"/>          
                </div>

                <fieldset class="altEditor altBg">
                    <legend class="altLabel altBgInv">DESCRIPTION</legend>
                    {{editor data.system.description target="system.description"
                    button=true owner=owner editable=true engine="prosemirror"}}  
                </fieldset>

            </div>

            <div class="altData">

                <fieldset>
                    <legend class="altLabel altBgInv">STATS</legend>
                    <div class="altFlex">
                        <span class="altLabel">{{localize 'CY.WeaponType'}}: </span>
                        <input class="altBg" type="text" name="system.weaponType" value="{{data.system.weaponType}}" />
                    </div>

                    <div class="altFlex">
                        <span class="altLabel">{{localize 'CY.Autofire'}}: </span>
                        <input class="altBg" type="checkbox" name="system.autofire" {{checked data.system.autofire}} />
                    </div>

                    <div class="altFlex">
                        <span class="altLabel">{{localize 'CY.Damage'}}: </span>
                        <input class="altBg" type="text" name="system.damage" value="{{data.system.damage}}" />
                    </div>

                    <div class="altFlex">
                        <span class="altLabel">{{localize 'CY.VehicleDamage'}}: </span>
                        <input class="altBg" type="text" name="system.vehicleDamage" value="{{data.system.vehicleDamage}}" />
                    </div>

                    <div class="altFlex">
                        <span class="altLabel">{{localize 'CY.Special'}}: </span>
                        <input class="altBg" type="text" name="system.special" value="{{data.system.special}}" />
                    </div>

                    <div class="altFlex">
                        <span class="altLabel">{{localize 'CY.UsesAmmo'}}: </span>
                        <input class="altBg" type="number" name="system.usesAmmo" value="{{data.system.usesAmmo}}" />
                    </div>

                    <div class="altFlex">
                        <span class="altLabel">{{localize 'CY.Targets'}}: </span>
                        <input class="altBg" type="number" name="system.targets" value="{{data.system.targets}}" />
                    </div>

                    <div class="altFlex">
                        <span class="altLabel">{{localize 'CY.FumbleOn'}}: </span>
                        <input class="altBg" type="number" name="system.fumbleOn" value="{{data.system.fumbleOn}}" />
                    </div>

                    <div class="altFlex">
                        <span class="altLabel">{{localize 'CY.CritOn'}}: </span>
                        <input class="altBg" type="number" name="system.critOn" value="{{data.system.critOn}}" />
                    </div>

                    <div class="altFlex">
                        <span class="altLabel">{{localize 'CY.CritMultiplier'}}: </span>
                        <input class="altBg" type="number" name="system.critMultiplier" value="{{data.system.critMultiplier}}" />
                    </div>
                </fieldset>

                <fieldset>
                    <legend class="altLabel altBgInv">MISC</legend>
                    <div class="altFlex">
                        <span class="altLabel">{{localize 'CY.Price'}}: </span>
                        <input class="altBg" type="number" name="system.price" value="{{data.system.price}}" />
                    </div>
                    <div class="altFlex">
                        <span class="altLabel">{{localize 'CY.Illegal'}}: </span>
                        <input class="altBg" type="checkbox" name="system.illegal" {{checked data.system.price}} />
                    </div>

                    <div class="altFlex">
                        <span class="altLabel">{{localize 'CY.Cybertech'}}: </span>
                        <input class="altBg" type="checkbox" name="system.cybertech" {{checked data.system.cybertech}} />
                    </div>

                    <div class="altFlex">
                        <span class="altLabel">{{localize 'CY.CarrySlots'}}: </span>
                        <input class="altBg" type="number" name="system.carrySlots" value="{{data.system.carrySlots}}" />
                    </div>

                    <div class="altFlex">
                        <span class="altLabel">{{localize 'CY.Quantity'}}: </span>
                        <input class="altBg" type="number" name="system.quantity" value="{{data.system.quantity}}" />
                    </div>

            </div>

        </div>

    </div>
</form>

